{% extends "based_template.html" %}
{% block content %}

{% load static %}
{% load i18n %}

<div  class="forms_user">
	<h1>
		{% trans 'Registration' %}
	</h1>
<form method="POST">
		{% csrf_token %}
		<div>
			<button name="lk_sign_in">Войти с помощью ЕЛК НИУ ВШЭ</button>
		</div>
	</form>
	<form method="POST">
		{% csrf_token %}
		<div>
			<input class="registration" required type="text" id="name" name="name" placeholder="{% trans 'FullName' %}">
		</div>
		<div>
			<input class="registration" required type="text" id="username" name="username" placeholder="{% trans 'Login' %}">
		</div>
		<div>
			<input class="registration" required type="text" id="email" name="email" placeholder="Email">
		</div>
		<div>
			<input class="registration" required type="password" id="psw1" name="password1" placeholder="{% trans 'Password' %}">
		</div>
		<div>
			<input class="registration" required type="password" id="psw2" name="password2" placeholder="{% trans 'RepeatPassword' %}">
		</div>
		<br>
		<div class = "checkboxx">
			<input required type="checkbox">
			{% trans 'DataProtectionText' %}
		</div>
		<div>
			<br>
			<input type="submit" value="{% trans 'Send' %}">
		</div>
	</form>
	<br>{% trans 'AlreadyRegistered' %} &nbsp<a href="/user/login">{% trans 'Enter' %} &nbsp</a><br><br>
	{% if failed %}
	<b>
		{% trans 'RegistrationError' %}
	</b>
	<p>{{ err_message }}</p>
	{% endif %}
</div>

{% endblock %}
