@font-face {
  font-family: "HSE Sans Regular"; /* Гарнитура шрифта */
  src: url('../HSESans-Regular.otf');
}

html {
  /* zoom: 190%; */
  position: relative;
  min-height: 100%;
}

body {
  font-family: "HSE Sans Regular";
  font-size: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #C8A561;
  margin-bottom: 60px;
}

input {
  background-color: white;
  color:black;
  border: 1px solid black;
}

.header{
  position: relative;
  /* margin-top: 0%; */
  width: 100%;
  background-color: #2E3236;
}

audio{
  width:100%;
  height: 20px;
  margin-top:10px;
}

form.poll{
  text-align: center;
}

.reportt{
  width: 200px;
  padding-bottom: 100px;
}
/*--------------Button-menu Burger------------*/

a.a_menu {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  transition: .5s linear;
}
nav {
  width: 77px;
  height: 23px;
  position:relative;
  float: left;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}
.fa {
  color: inherit;
  padding-left: 60px; /*Ширина вылезающего меню */
}
.submenu {
  color: #C8A561;
  background: #2E3236;
  position: absolute;
  top: 100%;
  left: 0;
  width: 118%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.three ul {
  color: #C8A561;
}
.three ul a {
  color: #74924C;
}
.three .submenu {
  visibility: hidden;
  opacity: 0;

}
.three ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.submenu li a {
  border-bottom: 1px solid rgba(255,255,255,.3);
  color: #C8A561; /* Цвет вылезающего меню*/
}

/*---------------------------------*/

/*--------------Logo Image------------------*/
.logo {
  position: relative;
  left: 5%;
  width: 20%;
  height: 20%;
}

/* Lang form */
.lang {
  display: inline-block;
  position: relative;
  /* right: 10%; */
  left: -101%;
  bottom: 0%;
}

/* Menu */
.menu {
  height: 62%;
  display: inline-block;
  position: absolute;
  right: 0%;
  bottom: 21%;
  /* zoom: 130%; */
}

.menu_text {
  color: #C8A561;
  display: inline-block;
  position: relative;
  left: 50%;
  top: 10%;
  bottom: 15%;
}

/*Text*/
.text1{
  margin:0;
  background-color: #C8A561;
  position:relative;
  width: 100%;
  height: 500px;
}



.anone{
  display: block;
  padding: 0;
  text-decoration: none;
  outline: none;
  transition: .5s linear;
}


/*EX "QUEST_CHOISE"*/
.wrap {
  margin: 0% 5% 40% 5%;
  position: relative;
  /*   line-height: 120px;/*Высота строки +  верт. центрирования текста*/
  color: black;
  /* width: 64%; */
  flex: 1 0 auto;
  min-height: 400px;
}

.bblock {
float: left; /*Задаем обтекание*/
/*   line-height: 120px;/*Высота строки +  верт. центрирования текста*/
color: black;
/* height: 30%;*/
margin-top:20px;
margin-bottom:10px;
text-align: center; /*Центрируем текст по горизонтали*/

}
.bblock1 {
  float: left; /*Задаем обтекание*/
  /*   line-height: 120px;/*Высота строки +  верт. центрирования текста*/
  color: black;
  width:200px;
  margin-top:20px;
  margin-bottom:10px;
  margin-left: 5%;
  margin-right: auto;
  text-align: center;/*Центрируем текст по горизонтали*/
}

.bblock2 {
  float: left; /*Задаем обтекание*/
  /*   line-height: 120px;/*Высота строки +  верт. центрирования текста*/
  color: black;
  width:200px;
  margin-top:20px;
  margin-bottom:10px;
  margin-left: 5%;
  margin-right: auto;
  text-align: left;/*Центрируем текст по горизонтали*/
}
.present_image{
  height: 100px;
}
.wrap :last-child {
margin-right: 0px;/*Убираем поле последнего div-а*/
}

.quest_name{
font-size: 30px;
}
.quest_description{
font-size: 16px;
}
.quest_image{
position:relative;
/*Параметры относительно блока, не картинки*/
width: 60%;
height: 40%;
border: 1px solid black;

}
.clocks{
position:relative;
width: 10px;
height: 10px;
}

/*Это костыли, нужные для квестов "в разработке"
потом удалить их можно будет, а в html убрать цифру 2
*/
.quest_name2{
font-size: 30px;
line-height: 68px;
}
.quest_description2{
font-size: 16px;
line-height: 122px;
}
A:link { color: black; }
A:visited {
color: black;
}
A:active { text-decoration: none; }
A:hover {
/*font-size: 24px; /* Размер шрифта, прикольно менять размер при наведении */
font-weight: bold; /* Жирное начертание */
color: black; /* Цвет ссылки */
  text-decoration: underline;
}
A.change_language:hover{
color: #C8A561;
font-size:15px;
}
A.change_language:visited {
color: #C8A561;
font-size:15px;
}
A.change_language:link {
color: #C8A561;
font-size:15px;
}
.question_name{
font-size: 18px;

}

.bad_perfect{
text-align: left;
margin-left:35%;
}

.change_language{
left:100%;
margin-left: 18%;
color: #C8A561;
width:5%;
}

.start_quest_button{
margin-top:10px;
padding: 2px 2px;
height: 10px;
width: 70px;
border: 1px solid black ;
background-color: white;
}
.start_quest_button1{
margin-top:10px;
padding-right: 41px;
padding-left: 41px;
height: 10px;
width: 70px;
border: 1px solid black ;
background-color: white;
}
.start_quest_button2{
margin-top:10px;
padding-right: 6px;
padding-left: 6px;
height: 10px;
width: 70px;
border: 1px solid black ;
background-color: white;
}
.start_quest_button3{
  margin-top:10px;
  padding: 2px 2px;
  height: 10px;
  width: 70px;
  border: 1px solid black ;
  background-color: #2E3236;
}

a.start_quest_button3:link{
  color:white;
}
a.start_quest_button3:visited{
  color:white;
}

.last_butons{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.forms_user{
text-align:center;
}

a.forms_user{
position:absolute;
left:0;
}

input.registration{
  margin: 3px;
  width: 275px;
  height: 35px;
  text-align: center;
}

.quest_pics{
border: 1px solid black;
display: block;
margin-left: auto;
margin-right: auto;
}

.ramka{
border: 1px solid white ;
background-color: transparent;
}
a.ramka:link{
  color:white;
}
a.ramka:visited{
  color:white;
}

.wrong{
color:red;
}

/* КОД ДЛЯ УВЕЛИЧИВАЮЩЕЙСЯ КАРТИНКИ */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* КОНЕЦ УВЕЛИЧИВАЛКИ */


.checkboxx{
  width:275px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

.portrait{
  width: 200px;
}
.name_about_us{
  text-align: center;
}

/* ПОДВАЛ */

.footer{
  background-color: #2E3236;
  flex-shrink: 0;
  color: white;
  min-height: 60px;
  width: 100%;
  font-size: 100%;
  /* Теперь подвал будет всегда снизу */
  bottom: 0px;
}

.footer_text{
  margin-top:7px;
  margin-left:5px;
}

a.artem_alex:visited {
  color:white;
}
a.artem_alex:link {
  color:white;
}

/* Последовательная выдача подсказок */

.hint_request {
  display: none;
}